<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.32/moment-timezone-with-data.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/estilosMainView.css">
  <link rel="stylesheet" href="css/estilosAdmin.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="shortcut icon" href="images/cerebroSentado.jpg">
  <title>NeuroTask</title>
</head>

<body class="fondo">
  <header class="container fondocabecera justify-content-center ">
    <!-- Aqui comienza el contenedor que contiene el logo y el texto de la cabecera  -->
    <%-include('cabecera.ejs')%>
  </header>

  <section class="container justify-content-center mt-2">

    <div class="row  ">
      <div class="col-sm-12 col-md-3 alert bg-white sombraBotonAdmin d-flex flex-column">
        <button class="alert alert-primary botonesAdmin" id="listarPacientes"><strong> Listado de
            Pacientes</strong>

        </button>
        <button class="alert alert-primary botonesAdmin" id="listarJuegos"> <strong> Listado de Juegos</strong>

        </button>

        <button class="alert alert-primary botonesAdmin" id="btnCrearPaciente" data-bs-toggle="modal"
          data-bs-target="#crearPaciente"> <strong> Crear Nuevo Paciente</strong>

        </button>

        <button class="alert alert-primary botonesAdmin" id="btnVincularPaciente" data-bs-toggle="modal"
          data-bs-target="#vincularPaciente"> <strong> Vincular
            Paciente</strong>

        </button>
      
      </div>

      <div class="col-sm-12 col-md-9 alert alert-primary">

        <!--CUADRANTE DE USUARIOS-->
        <div id="divListadoUsuarios" class="text-center d-none">
          <h2 id="tituloUsuarios">Listado de Usuarios</h2>

          <p class=" alert alert-warning" id="alertaListadoUsuarios">No hay pacientes disponibles</p>

        </div>

        <!--CUADRANTE DE JUEGOS-->
        <div id="divListadoJuegos" class=" text-center d-none">
          <h2>Listado de Juegos</h2>

          <p class=" alert alert-warning" id="alertaListadoJuegos">No hay juegos disponibles</p>
        </div>

        <!--CUADRANTE DEL HISTORIAL-->
        <%- include('cuadranteHistorial.ejs')%>

        <!--CUADRANTE DEL CALENDARIO-->
        <%- include('cuadranteCalendario.ejs')%>

        <!--CUADRANTE DE COMENTARIOS-->
        <%- include('cuadranteComentarios.ejs')%>

        <!--CUADRANTE DE ESTADISTICAS-->
        <%- include('cuadranteEstadisticas.ejs')%>

      </div>

      <%- include('modalAdmin.ejs')%>


  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.32/moment-timezone-with-data.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

  <script src="/javascripts/jsTerapeuta/funcionesAdmin.js"></script>
  <script src="/javascripts/jsTerapeuta/generacionURL.js"></script>
  <script src="/javascripts/jsTerapeuta/comentarios.js"></script>
  <script src="/javascripts/jsTerapeuta/estadisticas.js"></script>
  <script src="/javascripts/jsTerapeuta/planificacion.js"></script>

  <script src="/javascripts/jsTerapeuta/funcionesUsuario.js"></script>


</body>

</html>