<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
  <script src="/javascripts/jsTerapeuta/funcionesUsuario.js"></script>
  <link rel="stylesheet" href="css/estilosMainView.css">
  <link rel="shortcut icon" href="images/cerebroSentado.jpg">
  <title>NeuroTask</title>
</head>

<body class="fondo">
  <header class="container fondocabecera justify-content-center">
    <!-- Aqui comienza el contenedor que contiene el logo y el texto de la cabecera  -->
    <%-include('cabecera.ejs')%>

      </div>
  </header>
  <nav class="container justify-content-center"> <!-- Contenedor encargado de almacenar la barra de Herramientas -->

    <div class=" d-flex align-items-center barraDeHerramientas rounded">

      <%if(usuario==null){ %>
        <h1 id="textoElige">¡Elige un juego!</h1>
        <%}else if(usuario.tipo=="terapeuta" ){%>
          <form action="/admin" method="GET">
            <button class="btn  m-2 p-2 botonNav" src="/admin" type="submit"><strong>Administrar</strong></button>
          </form>
          <%}else{%>
            <div id="cajaJugarPlan">
              <h1 id="textoElige" class="d-none">¡Elige un juego!</h1>
              <button class="btn btn-primary m-2 p-2 botonNav d-none" id="btnJugarPlan">¡Jugar la planificación de
                hoy!</button>
            </div>
            <%}%>

    </div>


    </div>
  </nav>


  <section class="container justify-content-center ">
    <!-- Contenedor encargado de almacenar la seccion donde apareceran los destinos disponibles -->

    <div class="row">
      <!--PLANTILLA EJS-->
      <%juegos.forEach(function(juego){ %>

        <div class="col-md-3 col-sm-4 col-6 pb-4 d-flex">
          <a class="card card-body text-decoration-none sombras align-items-center " href="../juego?id=<%=juego.id%>">
            <!--Paso el id del juego-->
            <div class="card-header text-center <%=juego.categoria%> w-100">
              <h5> <strong>
                  <%=juego.nombre%>
                </strong>
              </h5>
            </div>
            <img src="<%=juego.imagen%>" alt="<%=juego.nombre%>" class="mt-1">
          </a>
        </div>

        <% }); %>


  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.32/moment-timezone-with-data.min.js"></script>
  <script src="/javascripts/jsTerapeuta/funcionesUsuario.js"></script>


</body>

</html>